<div class="definition-content">
    <div class="definition-left-column">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Pellentesque a blandit sem. Orci varius natoque penatibus et magnis
        dis parturient montes, nascetur ridiculus mus. Aenean eget
        scelerisque tellus. Mauris tincidunt vel enim at scelerisque. Proin
        lobortis orci in ante ultricies posuere. Cras nec orci eu lorem
        volutpat iaculis. Cras suscipit risus non eros commodo, at
        scelerisque lacus tempor. Nullam leo velit, rutrum vel vestibulum
        vel, malesuada sit amet neque. Morbi efficitur felis a interdum
        cursus. In hac habitasse platea dictumst. Duis quis volutpat enim,
        ac rhoncus diam. Ut vel mi ipsum. Integer ornare molestie venenatis.
        Morbi tincidunt felis massa.
      </p>
    </div>
    <div class="definition-right-column">
      <p>
        Nam interdum dapibus erat suscipit imperdiet. Vestibulum ut
        pellentesque risus. Vivamus a magna a metus aliquam sodales id et
        mi. Cras efficitur molestie tellus, vel maximus lacus tincidunt eu.
        Vestibulum efficitur mi in justo tincidunt, a ultricies est porta.
        Sed suscipit suscipit scelerisque. Donec molestie sed lectus et
        suscipit. Morbi dictum sagittis enim eget sagittis. Vestibulum leo
        nibh, mollis sit amet nisl et, maximus porttitor eros. Aliquam eu
        facilisis elit, eget posuere odio. Aenean lacinia faucibus augue.
        Integer lacinia quis tellus sit amet faucibus. Duis id pretium est.
        Phasellus rhoncus est quis posuere congue.
      </p>
    </div>
  </div>
